<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <bean id="backfillServlet" class="com.yizhao.apps.Servlets.BackfillServlet" init-method="init" destroy-method="destroy">
        <property name="backfillController" ref="backfillController" />
    </bean>

    <bean id="backfillController" class="com.yizhao.apps.BackfillController"
          init-method="init" destroy-method="destroy">
        <property name="googleCloudFileToNetezzaFileConvertor" ref="googleCloudFileToNetezzaFileConvertor" />
        <property name="ekvrawToFastrackFileConvertor" ref="ekvrawToFastrackFileConvertor" />
        <property name="netezzaConnector" ref="netezzaConnector" />
    </bean>

    <bean id="googleCloudFileToNetezzaFileConvertor" class="com.yizhao.apps.Converter.GoogleCloudFileToNetezzaFileConvertor" init-method="init" destroy-method="destroy">
    </bean>

    <bean id="fastrackFileProcessor" class="com.yizhao.apps.Converter.EkvrawToFastrackFileConvertor" init-method="init" destroy-method="destroy">
    </bean>

    <bean id="netezzaConnector" class="com.yizhao.apps.Connector.NetezzaConnector" init-method="init" destroy-method="destroy">
        <property name="DB_CONNECTION" value="${db_connection}" />
        <property name="DB_USER" value="${db_user}" />
        <property name="DB_PASSWORD" value="${db_password}" />
    </bean>
</beans>